<h1> Admin </h1>
<%= session[:role] %>
<table>
   <tr>
     <td> First Name</td>
     <td> Last Name</td>
     <td> Email </td>
     <td> Password</td>
     <td> Phone </td>
     <td> Role</td>
   </tr>
<% @user.each do |user| %>
  <tr>
    <td>  <%= user.first_name %>  </td>
    <td> <%= user.last_name %>   </td>
    <td> <%= user.email %> </td>
    <td> <%= user.pwd %> </td>
    <td>  <%= user.phone %>   </td>
    <% if user.Role_id == 1 %>
        <td><%= "Admin" %> </td>
    <% else %>
        <td><%= "User" %> </td>
    <% end %>
    <td> <%=  link_to 'Edit', edit_user_path(user) %></td>
    <td> <%=  link_to 'Destroy', user ,  :method => "delete" %></td>
  </tr>

<% end %>
 </table>


<h1> Posts </h1>
<% @post.each do |post| %>

    <% @comments = Comment.find(:all ,:conditions => ["Post_id = ?", post.id]) %>
 <b>Title :</b> <%= post.title %>   <br>
 <b>Content :</b> <%=post.content %>   <br>

 <%= link_to 'Destroy Post', post, :controller => "posts",  :method => "delete" %> <br>
<% if !@comments.nil?  %>
    <% @comments.each do |comment| %>
        &nbsp;&nbsp;&nbsp;

        <%=comment.content %>


        <%= link_to 'Destroy Comment', [comment.post, comment],
                        :confirm => 'Are you sure?',
                        :method => :delete %>

                 <br>
   <% end %>


        <br>
    <% end %>
    <br><br>
<% end %>

<h1> Post Activity Report</h1>
<table>
   <tr>
     <td> Post Title</td>
     <td> Post Content</td>
     <td> # of Votes</td>
   </tr>
<% @post.each do |post| %>
   <tr>
<%   @likes = Postvote.find(:all, :conditions => {:post_id => post.id})  %>
<%   @count_likes = 0

%>
<% @likes.each do |like| %>
    <% @count_likes = @count_likes + 1 %>
<% end %>
   <td><%=post.title%></td>
   <td><%=post.content%></td>
   <td><%=@count_likes%></td>
   </tr>
<% end %>

<%= link_to 'Admin', :action => "admin" %>     |
<%= link_to 'Add Category' , new_category_path %> |
<%= link_to 'Edit/Delete Categories', categories_path %>