<h1> Admin </h1>
<table>
   <tr>
     <td><b> First Name</td>
     <td><b> Last Name</td>
     <td><b> Email </td>
     <td><b> Password</td>
     <td><b> Phone </td>
     <td><b> Role</td>
   </tr>
  <h2> User Information </h2>
<% @user.each do |user| %>
  <tr>
    <td>  <%= user.first_name %>  </td>
    <td> <%= user.last_name %>   </td>
    <td> <%= user.email %> </td>
    <td> <%= user.pwd %> </td>
    <td>  <%= user.phone %>   </td>
    <% if user.Role_id == 1 %>
        <td><%= "Admin" %> </td>
    <% else %>
        <td><%= "User" %> </td>
    <% end %>
    <td> <%=  link_to 'Edit', edit_user_path(user) %></td>
    <td> <%=  link_to 'Destroy', user ,  :method => "delete" %></td>
  </tr>

<% end %>
 </table>

<br>
<h2> Posts and Comments Inforamtion </h2>
<% @post.each do |post| %>

    <% @comments = Comment.find(:all ,:conditions => ["Post_id = ?", post.id]) %>
 <b>Title :</b> <%= post.title %>  &nbsp;
 <b>Content :</b> <%=post.content %>

 <%= link_to 'Destroy Post', post, :controller => "posts",  :method => "delete" %> <br>
<% if !@comments.nil?  %>
    <% @comments.each do |comment| %>
        &nbsp;&nbsp;&nbsp;

        <%=comment.content %>


        <%= link_to 'Destroy Comment', [comment.post, comment],
                        :method => :delete %>

                 <br>
   <% end %>


        <br>
    <% end %>
    <br>
<% end %>

<h2> Post Activity Report</h2>
<table>
   <tr>
     <td><b> Post Title</td>
     <td><b> Post Content</td>
     <td><b> # of Votes</td>
   </tr>
<% @post.each do |post| %>
   <tr>
<%   @likes = Postvote.find(:all, :conditions => {:post_id => post.id})  %>
<%   @count_likes = 0

%>
<% @likes.each do |like| %>
    <% @count_likes = @count_likes + 1 %>
<% end %>
   <td><%=post.title%></td>
   <td><%=post.content%></td>
   <td><%=@count_likes%></td>
   </tr>
<% end %>
  </table><br>


<%= link_to 'Add Category' , new_category_path %> |
<%= link_to 'Edit/Delete Categories', categories_path %> |
<%= link_to 'Logout', :controller => "users", :action => "logout" %>