<h1>Listing posts</h1>

<table>
  <tr>
    <th>Content</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= link_to 'Show', post %></td>
        <td>
          <% if session[:id] == post.User_id %>
              <%= link_to 'Edit', edit_post_path(post) %></td>
          <% else  %>
              <%=  link_to 'Edit' , "/posts/invalid.html.erb"  %>
          <% end %>
          <td>
            <% if session[:id] == post.User_id %>
                <%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %>
            <% else %>
                <%= link_to 'Destroy', "/posts/invalid.html.erb" %>
            <% end %>
          </td>
          </tr>
  <% end %>
</table>

<br />

<%= link_to 'New Post', new_post_path %>
