<p id="notice"><%= notice %></p>

<p>
  <b>Category:</b>
  <%= Category.find { @post.Category_id  }.name %>
  <b>Title:</b>
  <%= @post.title %>
  <b>Content:</b>
  <%= @post.content %>
</p>
<p>

  <% if !@comments.nil?  %>
      <% @comments.each do |comment| %>
          &nbsp;&nbsp;&nbsp;

          <%=comment.content %>
           <% if comment.user_id == session[:id] %>
              <%= link_to 'Edit', edit_post_comment_path(@post,comment) %>
           <% else %>
              <%=  link_to 'Edit', "/comments/invalid.html.erb" %>
           <% end %>

          <% if comment.user_id == session[:id] %>
            <%= link_to 'Destroy Comment', [comment.post, comment],
                      :confirm => 'Are you sure?',
                      :method => :delete %>
          <% else %>
          <%=  link_to 'Destroy Comment', "/comments/invalid.html.erb" %>
          <% end %>

          <% %>
          <br>
      <% end %>
  <% end %>
</p>
<%   @likes = Postvote.find(:all, :conditions => {:post_id => @post.id})  %>
<%   @count_likes = 0
     @flag = false
     @display_string=""
%>
     <% @likes.each do |like| %>
        <% if like.user_id  == session[:id] %>
            <% @flag = true %>
        <% end %>
        <% @count_likes = @count_likes + 1 %>
     <% end %>


<% if @flag == true %>
      <% @count_likes = @count_likes -1 %>
      <% @display_string = "You and " + @count_likes.to_s + " other people voted" %>
<% else %>
      <% @display_string = @count_likes.to_s + " people voted" %>
<% end %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>

<%= link_to 'Edit Post', edit_post_path(@post) %> |
<%= link_to 'All Post ', posts_path %>     |
<%= link_to 'Vote', new_post_postvote_path(@post)  %>   |
<%= link_to @display_string, post_postvotes_path(@post) %>
