<p id="notice"><%= notice %></p>

<p>
  <b>Category:</b>
  <%= Category.find(:last, :conditions => {:id => @post.category_id}).name %>
  <b>Title:</b>
  <%= @post.title %>
  <b>Content:</b>
  <%= @post.content %>
</p>
<p>

  <% if !@comments.nil?  %>
      <% @comments.each do |comment| %>
          &nbsp;&nbsp;&nbsp;

          <%=comment.content %>
           <% if comment.user_id == session[:id] %>
              <%= link_to 'Edit', edit_post_comment_path(@post,comment) %>
           <% else %>
              <%=  link_to 'Edit', "/comments/invalid.html.erb" %>
           <% end %>


          <% if comment.user_id == session[:id] %>        # allow owner to delete comments
            <%= link_to 'Destroy Comment', [comment.post, comment],
                      :confirm => 'Are you sure?',
                      :method => :delete %>
          <% else %>
          <%=  link_to 'Destroy Comment', "/comments/invalid.html.erb" %>
          <% end %>

          <%  @count_comment_likes=0
              @comment_flag=false
              @display_comment_string=""
          %>
          <%=link_to 'Vote',new_post_comment_commentvote_path(@post,comment) %>
          <% @commentlikes = Commentvote.find(:all, :conditions => {:comment_id => comment.id}) %>
          <%      @commentlikes.each do |commentlike|
                 if commentlike.user_id == session[:id]
                         @comment_flag=true
                 end
                 @count_comment_likes = @count_comment_likes + 1          # keep a count of votes
                end
                if @comment_flag == true
                    @count_comment_likes = @count_comment_likes -1
                    @display_string = "You and " + @count_comment_likes.to_s + " other people voted"   # display votes base on user logged in
                else
                    @display_string = @count_comment_likes.to_s + " people voted"
                end

           %>
          <%= link_to @display_string, post_comment_commentvotes_path(@post,comment) %>

          <br>
      <% end %>
  <% end %>
</p>
<%   @likes = Postvote.find(:all, :conditions => {:post_id => @post.id})  %>
<%   @count_likes = 0
     @flag = false
     @display_string=""
%>
     <% @likes.each do |like| %>
        <% if like.user_id  == session[:id] %>
            <% @flag = true %>
        <% end %>
        <% @count_likes = @count_likes + 1 %>
     <% end %>


<% if @flag == true %>
      <% @count_likes = @count_likes -1 %>
      <% @display_string = "You and " + @count_likes.to_s + " other people voted" %>
<% else %>
      <% @display_string = @count_likes.to_s + " people voted" %>
<% end %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>

<td>
  <% if session[:id] == @post.user_id %>
      <%= link_to 'Edit Post', edit_post_path(@post) %></td>
  <% else  %>
      <%=  link_to 'Edit Post' , "/posts/invalid.html.erb"  %>
  <% end %>
  <td>  |
<%= link_to 'All Post ', posts_path %>     |
<%= link_to 'Vote', new_post_postvote_path(@post)  %>   |
<%= link_to @display_string, post_postvotes_path(@post) %> |
    <%= link_to 'Logout', :controller => "users", :action => "logout" %>
