<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>
<p>

  <% if !@comments.nil?  %>
      <% @comments.each do |comment| %>
          &nbsp;&nbsp;&nbsp;
          <%=comment.content %>
          <%= link_to 'Edit', edit_post_path(@comment) %>
          <% %>
          <br>
      <% end %>
  <% end %>
</p>

<h2>Add a comment:</h2>
<%= form_for([@post, @post.comments.build]) do |f| %>

    <div class="field">
      <%= f.label :content %><br />
      <%= f.text_field :content %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'All ', posts_path %>
