<h1>Editing category</h1>

<%= render 'form' %>

<%= link_to 'Show', @category %> |
<%= link_to 'Back', categories_path %> |
<%= link_to 'Logout', :controller => "users", :action => "logout" %>  |
<%= link_to 'Admin', :controller=> "users", :action => "admin" %>
